<h1 class="mat-headline-2">Comparison</h1>

<app-search />

<br>
<br>

@if (products().length) {
  <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" style="width: 100%;" (cdkDropListDropped)="drop($event)">
    <div class="example-box">
    </div>
    @for (item of products(); track 'isin') {
      <div class="example-box drag" cdkDrag>
        {{item.name}}

        <button mat-icon-button color="primary" (click)="removeProduct(item.isin)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    }
  </div>
}

<br>
<br>

@if (loading()) {
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  @if (products(); as products) {
    <table style="width: 100%;">

      <thead>
        <th></th>
        @for (item of products; track 'isin') {
          <th style="padding: 20px;">{{item.name}}</th>
        }
      </thead>

      <tbody>
        <tr>
          <td>Name</td>
          @for (item of products; track 'isin') {
            <td>{{item.name}}</td>
          }
        </tr>

        <tr>
          <td>ISIN</td>
          @for (item of products; track 'isin') {
            <td>{{item.isin}}</td>
          }
        </tr>

        <tr>
          <td>Capitalization > EUR 50 Mrd</td>
          @for (item of products; track 'isin') {
            <td>{{item.cap > 50 ? 'Yes' : 'No'}}</td>
          }
        </tr>
      </tbody>
    </table>
  }
}
